@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.checkout-page-text {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  color: #696969;
}


.checkout-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.checkout-page-checkout-page {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  gap: 60px;
}

.checkout-page-column1 {
  display: flex;
  flex-direction: column;
  flex:1;
  min-width: 500px;
}
.checkout-page-text-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  margin-bottom: 25px;
}
.checkout-page-text-title-price {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
}
.checkout__option1,
.checkout__option2,
.checkout__option4,
.checkout__option7 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #e8e9eb;
 
  cursor: pointer;
  margin-bottom: 15px;

}
.checkout__option5,
.checkout__option6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #e8e9eb;
 
  cursor: pointer;
  margin-bottom: 15px;
}
.checkout__option5 img,
.checkout__option6 img {
  margin-right: 10px;
}

.bi {
  font-size: 18px;
  color: #6c757d;
}

.checkout__option1 {
  
}

.checkout__option2 {
  
}

.checkout__option3 {
  display: flex;
  flex-direction: column;

  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #e8e9eb;
 
  cursor: pointer;
  margin-bottom: 15px;
}

.checkout__option5 {
  margin-top: 4px;
}

.checkout__option4 {
  justify-content: start;
  gap: 10px;
  color: #007bff;
  font-weight: bold;
}
.checkout__option7 {
  justify-content: center;
  gap: 10px;
  color: #007bff;
  font-weight: bold;
}

.checkout-page-column2 {
  flex: 1;

  background: #f5f8ff;
  border-radius: 12px;
  padding: 20px;
}

.checkout-page-group1 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.checkout-page-group2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: white;
}
.checkout-page-group3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.checkout-page-btn-add-code{
  margin-right: 2px;
  color: #408BFC;
  border-bottom: 1px dashed #408BFC;
  cursor: pointer;
}
.checkout-page-group4 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.checkout-page-group5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
}
.checkout-page-group6 {
  display: flex;
  width: 100%; /* Đảm bảo phần tử chiếm toàn bộ chiều rộng */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between;
  background: white;
  padding: 5px 0; /* Thêm padding để tránh dính sát nhau */
}
.checkout-page-group7 {
  margin-top: 10px;
  display: flex;
  width: 100%; /* Đảm bảo phần tử chiếm toàn bộ chiều rộng */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between;
  background: white;
  border-top: 1px solid #E7E9EB;
}
.checkout-page-text-detail {
  width: 100%;
  border-bottom: 1px solid #E7E9EB;
}
.checkout-page-btn-pay{
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 6px;
  background: #408BFC;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.option {
  accent-color: #156ecd;
  height: 18px;
  width: 18px;
}
.option:not(:checked) {
  display: none;
}


/* Responsive */
@media (max-width: 768px) {
  .checkout-page-checkout-page {
    flex-direction: column;
    padding: 15px;
  }

  .checkout-page-column1,
  .checkout-page-pay {
    width: 100%;
  }
}
